/* Navigation */

.vertical-buttons {
    font-family: 'Funnel Display';
    text-transform: none;
    font-weight: 'regular';
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* stack vertically */
    gap: 1px; /* space between buttons */
}

.vertical-buttons li a {
    display: block;           /* makes the entire link clickable */
    padding: 0px 0px;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    font-size: 1em;
}

.vertical-buttons li a:hover {
    text-decoration: underline;
}