


@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Bitcount+Grid+Single:wght@100..900&family=Funnel+Display:wght@300..800&family=Momo+Signature&family=Momo+Trust+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poiret+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap');
body{
    background-color: rgb(2, 81, 69);
    color: #ffffff;
    height:auto;
    min-height:100vh;
    font-family: 'Funnel Display';
}

header{
    background-color: rgb(7, 113, 86);
    font-family: 'Funnel Display';

}

pre{
    overflow: hidden;
    font-size: .100em;
}

a{
    font-weight: 'regular';
}
a:hover {
    background-color: #161717;
    color: #ffffff;
}

/* Container styling */
.container {
    font-family: 'Funnel Display';
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Funnel Display';
    font-size: 2em;
    font-weight: 'regular';
    text-transform: none;
    margin-top: 2em;
}


h1 {
    font-family: 'Funnel Display';
    text-transform: none;
    font-size: 10em;
}
h2 {
    font-family: 'Funnel Display';
    font-size: 10em;
}
h3 {
    font-family: 'Funnel Display';
    text-transform: none;
    font-weight: 'regular';
    font-size: 10em;
}


